LogonEventsWatcherService/.vs/
LogonEventsWatcherService/LogonEventsWatcherService/obj
LogonEventsWatcherService/LogonEventsWatcherService/bin
LogonEventsWatcherService/LogonEventsWatcherService/packages
LogonEventsWatcherService/packages/
*.zip
